<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Payments/Index">Payments</a>
        </li>
    </div>
</body>
</html>
